* {
      margin: 0;
      padding: 0;
    }
    .container {
      display: grid;
      grid-template-columns: 1.5fr 2.5fr;
      grid-template-rows: 10vh 90vh;
      grid-template-areas: "menu menu" "header header";
    }
    menu {
      background: rgb(9, 168, 30);
      grid-area: menu;
      color: white;
      padding-top: 2.7vh;
      padding-left: 23vh;
    }
    header {
      background-color: green;
      grid-area: header;
      color: white;
      padding-left: 5%;
      
      
    }
    #v1{
       width: 90%;
      height: 35px;
      border-radius: 20px;
     
    }

    .botao{
      width: 90%;
      height: 35px;
      border-radius: 20px;
      
      background-color: orange;
      color: white;
      padding: 0.5vh;
      cursor: pointer;
    }
    .botao:hover{
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}
input, .botao{
  margin-bottom: 2vh;
}
.res{
  height: 20vh;

}

